/*---------------------------------------------- CSS Style Start --------------------------------------*/
/* google font */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
/* CSS Style Tag */
/* this font is not working */
/* .manrope-font-family {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */
/* This Font Family Working */
.font-family {
  font-family: "Manrope", sans-serif;
}
/* background image */
.bg-next {
  background-image: url(../assets/bg.jpg);
  padding: 50px;
  border-radius: 10px;
}
/* input next level members */
input {
  padding: 3px;
}
/* footer style  */
.bg-footer {
  padding: 50px;
}

/* laptop and desktop  */
@media screen and (min-width: 992px) and (max-width: 1400px) {
  textarea {
    width: 665px;
  }
  .btn-button {
    width: 665px;
  }
}
/*----------------------------------------- CSS Style End ---------------------------------------- */
